/* app/components/FeatureCard.module.css */
.card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 2rem;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 380px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.iconContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100px;
  /* Set width and height to match the image dimensions */
  height: 100px;
}

.icon {
  margin-bottom: 1rem;
  max-width: 100%;
  max-height: 100%;

}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card p {
  color: #bbbbbb;
}