/* src/components/Navbar/Navbar.module.css */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 10;
  transition: background 0.3s;
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.8);
}

.navMenu {
  top: -490px;
  transition: top 0.3s;
}

.navMenu.active {
  top: 64px; /* Adjust this value based on the height of your navbar */
}

.navLink {
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.navLinkIcon {
  margin-right: 8px; /* Adjust spacing between icon and text */
}

.highlight {
  background: linear-gradient(45deg, #3498db, #2ecc71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
